* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#root,
.app_box {
  width: 100%;
  height: 100%;
  display: flex;
}
.main {
  position: relative;
  width: 84%;
  height: 100%;
}
footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 2px solid #ddd;
  width: 100%;
  z-index: 4 !important;
  background-color: #fff;
}

.side {
  width: 16%;
  height: 100%;
  border-right: 2px solid #ddd;
}

/* NAV */

.logo {
  border-bottom: 1px solid #ddd;
}

.box_nav {
  width: 100% !important;
}

.nav-link {
  text-decoration: none;
  color: inherit !important;
  text-align: center;
  display: inline-flex !important;
  gap: 5px;
  transition: all 600ms;
  width: 100%;
  letter-spacing: 1px;
  font-weight: bold;
  letter-spacing: 1px;
  flex-wrap: nowrap !important;
  padding: 6px 20px !important;
}
.nav-link > span {
  display: flex;
  align-items: center;
}

.nav {
  margin-bottom: 3rem;
}

.nav-link.active {
  border-left: 5px solid #274977;
  border-right: 5px solid #274977;
  color: #1a101b !important;
  border-radius: 10px;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.nav-bar {
  margin-bottom: 3rem;
  position: relative;
}

.nav-link span + span {
  font-size: 12px !important;
}

.nav-link > span > svg {
  width: 12px !important;
  height: 12px !important;
}
@media screen and (width <= 500px) {
  .nav-link > span > svg {
    width: 16px !important;
    height: 16px !important;
  }
  .nav-link span + span {
    display: none !important;
  }
}

/* MAIN */

.app-content {
  background-color: #f6f6f6f2 !important;
  height: 100vh !important;
  overflow-y: scroll !important;
}

.main-body {
  margin-bottom: 80px;
}

#dropdown-item-button {
  border-radius: 20%;
  background-color: #274977;
  border: none !important;
}

.dropdown-toggle::after {
  display: none !important;
}

/* CARD */

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: initial;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

/* SEARCH BAR */

/* From uiverse.io by @satyamchaudharydev */
/* removing default style of button */

.form button {
  border: none;
  background: none;
  color: #8b8ba7;
}
/* styling of whole input container */
.form {
  --timing: 0.3s;
  --width-of-input: 200px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-color: #2f2ee9;
  --border-radius: 30px;
  --after-border-radius: 1px;
  position: relative;
  width: var(--width-of-input);
  height: var(--height-of-input);
  display: flex;
  align-items: center;
  padding-inline: 0.8em;
  border-radius: var(--border-radius);
  transition: border-radius 0.5s ease;
  background: var(--input-bg, #fff);
}
/* styling of Input */
.input {
  font-size: 0.9rem;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding-inline: 0.5em;
  padding-block: 0.7em;
  border: none;
}
/* styling of animated border */
.form:before {
  content: "";
  position: absolute;
  background: var(--border-color);
  transform: scaleX(0);
  transform-origin: center;
  width: 100%;
  height: var(--border-height);
  left: 0;
  bottom: 0;
  border-radius: 1px;
  transition: transform var(--timing) ease;
}
/* Hover on Input */
.form:focus-within {
  border-radius: var(--after-border-radius);
}

input:focus {
  outline: none;
}
/* here is code of animated border */
.form:focus-within:before {
  transform: scale(1);
}
/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
  border: none;
  background: none;
  opacity: 0;
  visibility: hidden;
}
/* close button shown when typing */
.form input:not(:placeholder-shown) ~ .reset {
  opacity: 1;
  visibility: visible;
}
/* sizing svg icons */
.form svg {
  width: 17px;
}
